<!DOCTYPE html>
<html>
  <head>
    <title><%= locals.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <p>EJS Welcome to <%= locals.title %></p>
    <div>
      <% if( locals.title.length != 2){ %>
        <a href="#">哈哈哈哈,没我长</a>
      <% } %>
    </div>
  </body>
</html>
